:root{
    --textoOscuro: #000000;
    --textoClaro: #FFFFFF;
    --colorPrimario: #3c3744;
    --colorSecundario: #090c9b;
    --colorTerciario: #3066be;
    --colorAuxiliar: #b4c5e4;
    --textoTitulo: 'Montserrat', sans-serif;
    --texto: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background: var(--colorPrimario);
    font-family: var(--texto);
    color: var(--textoClaro);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    opacity: 0; /* Empieza invisible */
    animation: fadeInUp 1s ease-in-out forwards; /* Animación de entrada */
    animation-delay: calc(0.1s * var(--i)); /* Retraso gradual para cada div */
}

main h2{
    font-family: var(--textoTitulo);
    font-size: 2rem;
}

main .contenido {
    display: flex; 
    flex-direction: row;
    gap: 2rem;
}

main .contenido div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: auto;
    gap: 10px;
    padding: 10px;
}

main .contenido div iframe {
    width: 100%;
    max-width: 560px; 
    height: 315px;    
    border: none;    
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

main .contenido div p{
    font-family: var(--texto);
    font-size: 1.2rem;
    text-align: justify;

}

main .contenido div ligas{
    display: flex;
    flex-direction: row;
}

main .contenido div .ligas {
    display: flex;
    flex-direction: row;
}

main .contenido div .ligas .icono img{

    border-radius: 1rem;
    transition: transform 0.3s ease, border 0.3s ease;
    height: 50px;
    width: 50px;
}

main .contenido div .ligas .icono img:hover{
    border: var(--colorAuxiliar) solid 2px;
    transform: scale(1.1);
}

/* Definir la animación de entrada */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Inicia desde abajo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Posición final */
    }
}