<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/banner.css">
        <link rel="stylesheet" href="../css/spiderMan.css">
        <title>Avengers: End Game - Sinopsis</title>
    </head>
    <body>
        <header class="barraDeNavegacion">
            <div class="direcciones">
                <div><a href="../index.html" rel="noopener" title="Home - Mis pelis">Home</a></div>
                <div><a>Recomendacion.</a></div>
            </div>
        </header>

        <main>
            <h2>Avengers: End Game</h2>
            <div class="contenido">
                <div>
                    <iframe src="https://www.youtube.com/embed/TcMBFSGVi1c" title="Trailer - Avengers: End Game."></iframe>
                </div>

                <div>
                    <h2>Sinopsis:</h2>
                    <p>
                        En el final épico de la Saga del Infinito, los Avengers se enfrentan a Thanos. Cuando eventos devastadores
                        arrasan con la mitad de la población mundial y fracturan sus filas, los héroes restantes luchan por avanzar. 
                        Pero deben unirse para restaurar el orden y la armonía en el universo y traer de vuelta a sus seres queridos.
                    </p>   

                    <div>
                        <p>Ver Ahora: </p>
                    </div>
    
                    <div class="ligas">
                        <a class="icono" href="https://www.disneyplus.com/es-419/browse/entity-b39aa962-be56-4b09-a536-98617031717f" target="_blank" rel="noopener" title="Avengers: End Game."><img src="../src/imagenes/iconos/disneyPlus.png" alt="Disney Plus"></a>                    
                    </div>
                </div>
            </div>
        </main>
        
    </body>
</html>