<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/banner.css">
        <link rel="stylesheet" href="../css/spiderMan.css">
        <title>Batman: El Caballero de la Noche - Sinopsis</title>
    </head>
    <body>
        <header class="barraDeNavegacion">
            <div class="direcciones">
                <div><a href="../index.html" rel="noopener" title="Home - Mis pelis">Home</a></div>
                <div><a>Recomendacion</a></div>
            </div>
        </header>

        <main>
            <h2>Batman: El Caballero de la Noche.</h2>
            <div class="contenido">
                <div>
                    <iframe src="https://www.youtube.com/embed/dzQtWkpc2-c" title="Trailer - Batman: El Caballero de la Noche"></iframe>
                </div>

                <div>
                    <h2>Sinopsis:</h2>
                    <p>
                        Batman está decidido a destruir el crimen organizado en Ciudad Gótica con la ayuda del Comandante Jim Gordon y el Fiscal de Distrito Harvey Dent.
                    </p>   

                    <div>
                        <p>Ver Ahora: </p>
                    </div>
    
                    <div class="ligas">
                        <a class="icono" href="https://play.max.com/movie/52217243-a137-45d6-9c6a-0dfab4633034" target="_blank" rel="noopener" title="Batman: El caballero de la noche."><img src="../src/imagenes/iconos/max.png" alt="Max"></a>
                        <a class="icono" href="https://tv.apple.com/us/movie/batman-el-caballero-de-la-noche/umc.cmc.1uf4c3neuc9yxhnjv7t4rd5wa?l=es-MX " target="_blank" rel="noopener" title="Batman: El caballero de la noche."><img src="../src/imagenes/iconos/appleTV.png" alt="Apple TV"></a>
                    </div>

                </div>
            </div>
        </main>
        
    </body>
</html>