<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/banner.css">
        <link rel="stylesheet" href="../css/spiderMan.css">
        <title>Guasón - Sinopsis</title>
    </head>
    <body>
        <header class="barraDeNavegacion">
            <div class="direcciones">
                <div><a href="../index.html" rel="noopener" title="Home - Mis pelis">Home</a></div>
                <div><a>Recomendacion</a></div>
            </div>
        </header>

        <main>
            <h2>Guasón.</h2>
            <div class="contenido">
                <div>
                    <iframe src="https://www.youtube.com/embed/TobNCFMK_bs"title="Trailer - El Guasón"></iframe>
                </div>

                <div>
                    <h2>Sinopsis:</h2>
                    <p>
                        La película se centra en Arthur Fleck, un hombre marginado que vive en Gotham City, trabajando como payaso a sueldo y 
                        soñando con convertirse en comediante de stand-up. Sin embargo, Arthur sufre de una enfermedad mental que lo hace reír 
                        incontrolablemente en situaciones inapropiadas, lo que lo convierte en objeto de burla y lo aísla aún más de la sociedad.
                    </p>   

                    <div>
                        <p>Ver Ahora: </p>
                    </div>
    
                    <div class="ligas">
                        <a class="icono" href="https://play.max.com/movie/e37195fe-c232-4ba0-bb9e-c4004279b6fa" target="_blank" rel="noopener" title="Guasón."><img src="../src/imagenes/iconos/max.png" alt="Max"></a>
                    </div>

                </div>
            </div>
        </main>
        
    </body>
</html>