<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/banner.css">
        <link rel="stylesheet" href="../css/interstelarSinopsis.css">
        <title>Interstelar - Sinopsis</title>
    </head>
    <body>
        <header class="barraDeNavegacion">
            <div class="direcciones">
                <div><a href="../index.html" rel="noopener" title="Home - Mis pelis">Home</a></div>
                <div><a>Recomendacion</a></div>
            </div>
        </header>

        <main>
            <h2>Interstelar</h2>
            <div class="contenido">
                <div>
                    <iframe src="https://www.youtube.com/embed/LYS2O1nl9iM" title="Trailer: Interstelar"></iframe>
                </div>

                <div>
                    <h2>Sinopsis:</h2>
                    <p>La humanidad nació en la Tierra. Nunca estuvo destinada a morir aquí.</p>
                    <p>
                        Un grupo de exploradores hacen uso de un agujero de gusano recientemente descubierto para superar 
                        las limitaciones de los viajes espaciales tripulados y vencer las inmensas distancias que tiene un viaje interestelar.
                    </p>   

                    <div>
                        <p>Ver Ahora: </p>
                    </div>
    
                    <div class="ligas">
                        <a class="icono" href="https://play.max.com/movie/aa5b9295-8f9c-44f5-809b-3f2b84badfbf" target="_blank" rel="noopener" title="Interstelar."><img src="../src/imagenes/iconos/max.png" alt="Max"></a>
                        <a class="icono" href="https://tv.apple.com/mx/movie/interestelar/umc.cmc.1vrwat5k1ucm5k42q97ioqyq3" target="_blank" rel="noopener" title="Interstelar."><img src="../src/imagenes/iconos/appleTV.png" alt="Apple TV"></a>
                    </div>

                </div>
            </div>
        </main>
        
    </body>
</html>