<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/banner.css">
        <link rel="stylesheet" href="../css/spiderMan.css">
        <title>El hombre araña - Sinopsis</title>
    </head>
    <body>
        <header class="barraDeNavegacion">
            <div class="direcciones">
                <div><a href="../index.html" rel="noopener" title="Home - Mis pelis">Home</a></div>
                <div><a>Recomendacion</a></div>
            </div>
        </header>

        <main>
            <h2>El hombre araña.</h2>
            <div class="contenido">
                <div>
                    <iframe src="https://www.youtube.com/embed/t06RUxPbp_c" title="Trailer - El hombre araña"></iframe>
                </div>

                <div>
                    <h2>Sinopsis:</h2>
                    <p>
                        Peter Parker es un tímido estudiante de preparatoria, intelectualmente brillante pero poco hábil socialmente. Durante una visita a un laboratorio 
                        de genética de la Universidad de Columbia es mordido por una araña genéticamente modificada. Esto provoca en él un cambio que le otorga poderes 
                        sobrehumanos arácnidos: fuerza proporcional a la de una araña, capacidad de adherirse a las paredes, capacidad para segregar y lanzar redes similares 
                        a las telarañas por las manos y un sentido arácnido que le advierte de los peligros que le pueden acechar.
                    </p>   

                    <div>
                        <p>Ver Ahora: </p>
                    </div>
    
                    <div class="ligas">
                        <a class="icono" href="https://play.max.com/movie/52c902ab-d1ff-4e18-9326-31641a07ed9a" target="_blank" rel="noopener" title="El hombre araña."><img src="../src/imagenes/iconos/max.png" alt="Max"></a>
                        <a class="icono" href="https://tv.apple.com/mx/movie/spider-man/umc.cmc.5phzpxxmktrfukrvil304pg8e" target="_blank" rel="noopener" title="El hombre araña"><img src="../src/imagenes/iconos/appleTV.png" alt="Apple TV"></a>
                    </div>

                </div>
            </div>
        </main>
        
    </body>
</html>